$breakpoint-sm: '(min-width: 744px)';
$breakpoint-md: '(min-width: 1024px)';
$breakpoint-lg: '(min-width: 1280px)';
$breakpoint-xl: '(min-width: 1440px)';
$color-primary-bg-light: #f5f5f5;
$color-primary-bg-dark: #202020;
$color-primary-text-light: #F0F0F0;
$color-primary-text-dark: #202020;
$color-board: #CAA472;
$limit-sm: 680px;
$limit-md: 980px;
$limit-lg: 1100px;
$limit-xl: 1420px;