@font-face {
  font-family: KeaniaOne;
  src: url('@/assets/fonts/KeaniaOne-Regular.woff') format('woff');
}
@font-face {
  font-family: MavenPro;
  src: url('@/assets/fonts/MavenPro-Variable.woff') format('woff');
}